{% extends "model-page.html" %}

{% block content %}

    <h2>Agendamentos</h2>

    <a href="evento/">
        <button type="button">Novo Evento</button>
    </a>

    <ul style="font-size: 18px">  <!- Elemento pai da lista. Aumenta a fonte em CSS->
    {% for evento in eventos %}
        <li>
            <div style={% if evento.get_evento_atrasado %}
                        "color:red"
                        {% endif %}> <!-- Aplica cor se evento_atrasado for True -->
                {{ evento.titulo }} - {{evento.get_data_evento}}
                (<a href="evento/?id={{ evento.id }}">Editar</a>
                / <a href="evento/delete/{{ evento.id }}/">Excluir</a>)
            </div>
        </li> <!-'li' elemento de lista desorganizada->
    {% endfor %}
    </ul>
{% endblock %}